body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d2022;
}



.Content h1{
    display:block;
    text-align:center;
}

.Content {
    transform: translateY(100px);
    margin: auto;
    width: 45%;
    display: block;
    padding: 20px;
    background-color: #2d2f30;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);
}

.topnav {
    display: block;
    overflow: auto;
    padding:0px;
    width: 100%;
    background-color: #333537;
    border-radius: 10px;
}
.topnav > ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.topnav > ul li {
    display:inline;
    float: left;
}
    .topnav > ul li a {
        display: block;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }


nav ul {
    position: fixed;
    list-style-type: none;
    bottom: 0px;
    padding: 10px;
    width: 100px;
}

nav ul li a {
    display: block;
    background-color: #eb4034;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);
}

nav ul li a:hover{
    background-color: #f52516;
    color: #f52516;
    transform: translateX(5%);
}

.active {
    display: block;
    background-color: #f52516;
}
/*
    nav ul li img {
        position: absolute;
        background: #5c0b0b61;
        top: -25px;
        right: -43.8px;
        height: 39px;
    }  for icon of 500x500 */


#clean {
    text-decoration:none; 
    color:white; 
    font-weight:600
}


