body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d2022;
}



nav ul {
    position: fixed;
    list-style-type: none;
    bottom: 0px;
    padding: 10px;
    width: 100px;
}



.Content h1{
    display:block;
    text-align:center;
}
.Content {
    transform: translateY(100px);
    margin: auto;
    width: 45%;
    display: block;
    padding: 20px;
    background-color: #2d2f30;
    border-radius: 20px;
}












nav ul li a {
    display: block;
    background-color: #eb4034;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #f52516;
    color: #f52516;
    transform:translateX(10%);
}
.active {
    display: block;
    background-color: #f52516;
}

#clean {
    text-decoration:none; 
    color:white; 
    font-weight:600
}


