body {
    color: #040c1a;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4287f5;
}



nav ul {
    position:fixed;
    background-color: #92b7f7;
    list-style-type: none;
    bottom: 0px;
    padding: 0px;
    width: 100px;
}



nav ul li a {
    display:block;
    padding:10px;
}
nav ul li a:hover {
    background-color: #f5f9ff;
    color: #92b7f7;
}

.active{
    background-color: #ae9dfc;
}

#clean {
    text-decoration:none; 
    color:blue; 
    font-weight:600
}


